.app {
	width: 100%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding: 12px;

	.ant-card {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		.ant-card-body {
			flex: 1;
			overflow: auto;
		}
	}
}

.ant-image-preview-close,
.ant-image-preview-switch-left,
.ant-image-preview-switch-right,
.ant-image-preview-footer {
	color: #fff;
}

.ant-image-preview-footer {
	.ant-image-preview-progress {
		background-color: #00000099;
		padding: 4px 8px;
		border-radius: 4px;
	}
}

.quick-button {
	@size: 50px;

	right: 50px;
	bottom: 108px;
	width: @size;
	height: @size;
}
